<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload & Image Preview</title>
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<script src="/static/js/main.js?timestamp=20230313"></script>
<div class="upload-container">
    <div class="upload">
        <input type="file" id="file" accept="image/*">
        <label for="file" class="file-label">
            <i class="fas fa-cloud-upload-alt"></i>
            <span>Choose a file</span>
        </label>
    </div>
    <div class="preview">
        <img src="" alt="" id="preview">
    </div>
</div>
</body>
</html>
